services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: ecommerce_user
      POSTGRES_PASSWORD: securepassword
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres
    networks:
      - backend

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - backend

  # =========================
  # EUREKA SERVER
  eureka-server:
    build: ./eureka/eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - backend

  # =========================
  # CONFIG SERVER (ADD THIS)
  config-server:
    build: ./configserver/configserver
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    networks:
      - backend

  # =========================
  # USER SERVICE
  user-service:
    build: ./user/user
    container_name: user-service
    ports:
      - "8091:8091"
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    networks:
      - backend

  # =========================
  # PRODUCT SERVICE
  product-service:
    build: ./product/product
    container_name: product-service
    ports:
      - "8092:8092"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    networks:
      - backend

  # =========================
  # ORDER SERVICE
  order-service:
    build: ./order/order
    container_name: order-service
    ports:
      - "8093:8093"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    networks:
      - backend

volumes:
  postgres:
  mongo-data:

networks:
  backend:
    driver: bridge
