services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: ecommerce_user
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: ecom_db
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "8081:80"
    networks:
      - backend
    restart: unless-stopped

  ecom-application:
    build: .
    container_name: ecom_application
    depends_on:
      - postgres
    ports:
      - "8082:8081"
    networks:
      - backend
    restart: unless-stopped

volumes:
  postgres:
  pgadmin:

networks:
  backend:
    driver: bridge
